<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/search/">
    <%= render '/instantsearch-head.*' %>
  </head>
  <body>
    <%= render '/gtm.*' %>
    <%= render '/header.*' %>
    <div class=wrapper>
      <div id="doc-nav" class="doc-nav"></div>
      <div class="main class instantsearch-input">
        <%= yield %>
      </div>
      <hr>
      <div class="clear"></div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script type="application/javascript" src="<%= @items['/assets/javascripts/instantsearch.*'].path %>"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
      <%= render '/footer.*' %>
      <%= render '/analytics.*' %>
      <%= render '/https_redirect.*' %>
      <%= render '/schema-microdata.*' %>
  </body>
</html>
